[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vadersentiment = "*"
keras = "*"
requests = "*"
"discord.py" = "*"
nltk = "*"
transformers = "*"
tensorflow = "==2.15.0"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.11"
